In [53]:
import pandas as pd

data={'Roll No': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
  'Name': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
  'Gender': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F', 'M', 'F'],
  'Marks 1': [30, 69, 40, 23, 89, 45, 92, 94, 78, 87 ],
  'Marks 2': [45, 89, 67, 90, 99, 56, 23, 78, 34, 58 ],
  'Marks 3': [59, 79, 68, 100, 76, 96, 35, 78, 24, 92] }

df = pd.DataFrame(data)

print(df)

   Roll No Name Gender  Marks 1  Marks 2  Marks 3
0        1    A      M       30       45       59
1        2    B      F       69       89       79
2        3    C      M       40       67       68
3        4    D      M       23       90      100
4        5    E      F       89       99       76
5        6    F      F       45       56       96
6        7    G      M       92       23       35
7        8    H      F       94       78       78
8        9    I      M       78       34       24
9       10    J      F       87       58       92

In [54]:
df['Total marks'] = df.iloc[ : , 3:6].sum(axis=1)

print(df)

   Roll No Name Gender  Marks 1  Marks 2  Marks 3  Total marks
0        1    A      M       30       45       59          134
1        2    B      F       69       89       79          237
2        3    C      M       40       67       68          175
3        4    D      M       23       90      100          213
4        5    E      F       89       99       76          264
5        6    F      F       45       56       96          197
6        7    G      M       92       23       35          150
7        8    H      F       94       78       78          250
8        9    I      M       78       34       24          136
9       10    J      F       87       58       92          237

In [55]:
lowestmarks_marks1 = df["Marks 1"].min()

print("Lowest marks among marks 1: ", lowestmarks_marks1 )

Lowest marks among marks 1:  23

In [56]:
highestmarks_marks2 = df["Marks 2"].max()

print("Highest marks among marks 2: ", highestmarks_marks2 )

Highest marks among marks 2:  99

In [57]:
averagemarks_marks3 = df["Marks 3"].mean()

print("Average marks of marks 3: ", averagemarks_marks3 )

Average marks of marks 3:  70.7

In [58]:
#df['Average'] = df[[ 'Marks 1', 'Marks 2' , 'Marks 3' ]].mean(axis=1)
df['Average'] = df.iloc[ : , 3:6].mean(axis=1)

index_of_highest_avg = df['Average'].idxmax()


print("Highest average marks is:", df.loc[index_of_highest_avg, 'Average'])
print("Name of teh student:" ,df.loc[index_of_highest_avg, 'Name'])
print(df)

Highest average marks is: 88.0
Name of teh student: E
   Roll No Name Gender  Marks 1  Marks 2  Marks 3  Total marks    Average
0        1    A      M       30       45       59          134  44.666667
1        2    B      F       69       89       79          237  79.000000
2        3    C      M       40       67       68          175  58.333333
3        4    D      M       23       90      100          213  71.000000
4        5    E      F       89       99       76          264  88.000000
5        6    F      F       45       56       96          197  65.666667
6        7    G      M       92       23       35          150  50.000000
7        8    H      F       94       78       78          250  83.333333
8        9    I      M       78       34       24          136  45.333333
9       10    J      F       87       58       92          237  79.000000

In [62]:
df['Pass'] = True

df['Pass'] = df['Marks 2'] > 40
fail = len(df[df['Marks 2'] < 40])

print("Number of failed students:", fail)
print(df)

Number of failed students: 2
   Roll No Name Gender  Marks 1  Marks 2  Marks 3  Total marks    Average  \
0        1    A      M       30       45       59          134  44.666667
1        2    B      F       69       89       79          237  79.000000
2        3    C      M       40       67       68          175  58.333333
3        4    D      M       23       90      100          213  71.000000
4        5    E      F       89       99       76          264  88.000000
5        6    F      F       45       56       96          197  65.666667
6        7    G      M       92       23       35          150  50.000000
7        8    H      F       94       78       78          250  83.333333
8        9    I      M       78       34       24          136  45.333333
9       10    J      F       87       58       92          237  79.000000

    Pass
0   True
1   True
2   True
3   True
4   True
5   True
6  False
7   True
8  False
9   True

In [50]:
summary = df.iloc[ : , 3:].describe().T

print(summary)

             count        mean        std         min         25%         50%  \
Marks 1       10.0   64.700000  27.544106   23.000000   41.250000   73.500000
Marks 2       10.0   63.900000  25.326534   23.000000   47.750000   62.500000
Marks 3       10.0   70.700000  25.170750   24.000000   61.250000   77.000000
Total marks   10.0  199.300000  48.401217  134.000000  156.250000  205.000000
Average       10.0   66.433333  16.133739   44.666667   52.083333   68.333333

                75%    max
Marks 1       88.50   94.0
Marks 2       86.25   99.0
Marks 3       88.75  100.0
Total marks  237.00  264.0
Average       79.00   88.0